body {
  margin: 0 auto;
  font-family: 'Titillium Web', sans-serif;
  font-weight: normal;
}
header {
  background: $purple;
  padding: 2.7em 0 5.1em 0;
  .header-main-content{
    margin: 5.4em auto 5.35em;
    width: 100%;
    .headline {
      width: 100%;
      @include text(42.2px, $weight_some_headline, 48px, normal);
      @include colors($transparent, $diff_white);
    }
  }
}