nav {
  width: 100%;
  background: $purple;
  justify-content: space-between;
  .main-nav{
    width: 100%;
    justify-content: space-between;
    .navbar-brand {
      margin-left: 3em;
    }
    #navbarNav {
      width: fit-content;
      justify-content: flex-end;
      .navbar-nav .nav-item {
        margin-left: .63em;
        .nav-link {
          @include nodecored($tex-upper);
          @include text($fontsize_other, $weight_primary, $line_height_main, 0.01px);
          @include linked($white, $purple_dark, 4px);
          @include colors($transparent, $white);
          padding: 7px 17px;
        }
      }
      ul {
        margin: 0;
        padding-bottom: .3em;
      }
    }
  }
}
