//colors --
//backgrounds:
$transparent: transparent;
$white_blue: #e7f1f8;
$purple: #87509c;
$orange_light: #eb7d4b;
$teal_light: #17c2a4;
$white: #fff;
$orange_grey: #ffdd99;
$pink: #d74680;
$blue_light: #3c5499;
$blue_grey_light: #344b8e;
$blue_dark: #273a71;

//bakgrounds for buttons:
$blue_wite_light: #bdd1df;
$white_another: #e0f7f3;

//bakgrounds for buttons :hovered, :active, :focused
$purple_dark: #643a79;
$white: #fff;

//text colors:
$orange_dark: #c55725;
$teal: #30bae7;
$blue_grey: #3c4761;
$grey_black: #393939;
$black: rgba(0,0,0,0.07);
$diff_white: #f7f3ea;
$blue_grey_dark: #27283d;
$red: #ef4246;

//border line under headlines:
$black_border_services: #26000000;
$grey_border_team: #BFbdd1df;

//bott border for buttons:
$teal_border: #13a58b;
$light_orange_border: #c76a3f;

//font attributes --
//font-sizes:
$fontsize_main: 18px;
$fontsize_other: 16px;
$fontsize_secondary: 18.6px;
$fontsize_headline: 40px;
$fontsize_sub_headline: 24px;

//font-weights:
$weight_primary: 400;
$weight_secondary: 600;
$weight_some_headline: 700;

//line-height:
$line_height_main: 18px;
$line_height_other: 16px;
$line_height_secondary: 26px;
$line_height_secondary_headline: 24px;
$line_height_sub_headline: 19px;
$line_height_other_headline: 29px;

//letter-spacings:
$letter_spacings_main: .02em;
$letter_spacings_headline: .1em;

//text-decorations:
$italic: italic;
$tex-upper: uppercase;

//some styles:
$marg_none: 0;
