$white: #fff;
$white_another: #e0f7f3;
$white_blue: #e7f1f8;
$purple: #87509c;
$purple_dark: #643a79;
$orange_light: #eb7d4b;
$orange_dark: #c55725;
$teal_light: #17c2a4;
$teal: #30bae7;
$blue_grey: #3c4761;
$blue_wite_light: #bdd1df;
$grey_black: #393939;
$orange_grey: #ffdd99;
$black: #000000;
$pink: #d74680;
$blue_light: #3c5499;
$blue_dark: #273a71;
$blue_grey_light: #344b8e;
