header .header-main-content .buttons {
	@include centered();
	margin-top: 3.05em;
	a{
		transition-timing-function: ease-in-out;
		transition: .5s;
		cursor: pointer;
		margin-right: -1px;
		padding: 21px 80px 18px 81px;
		@include nodecored($tex-upper);
		@include text($fontsize_main, $weight_secondary, $line_height_secondary, $letter_spacings_main);
		@include colors($orange_light, $white);
		@include linked($white, $orange_light, 6px);
		@include buttons(4px solid $light_orange_border, 6px);
		&:hover, :active, :focus {
			transition-timing-function: ease-in-out;
			transition: .5s;
			border: 4px solid $orange_light;
			background: $transparent;
		}
	}
}
.portfolio, form .text_area .contacts {
	.buttons, .buttons_switch {
		width: 100%;
		display: flex;
		justify-content: center;
	}
}
.portfolio {
	.buttons_switch{
		a {
			@include nodecored($tex-upper);
			@include text($fontsize_main, $weight_secondary, $line_height_secondary, $letter_spacings_main);
			@include colors($black, $grey_black);
			@include linked($grey_black, $white, 4px);
			@include buttons(none, 4px);
			padding: 5px 20px;
			margin-left: 10px;
			transition: .5s;
			transition-timing-function: ease-in-out;
		}
		margin: 2.8em 10px 4.3em 0;
		span a{
			cursor: pointer;
			&:nth-child(2n-1) {
				margin-left: 4px;
				padding: 6px 28px;
				margin-right: 1px;
			}
			&:nth-child(2n) {
				margin-left: 8px;
				padding: 5px 24px;
				margin-right: 3px;
			}
			&:nth-child(4n-1) {
				margin-left: 4px;
				padding: 5px 24px;
				margin-right: 9px;
			}
			&:nth-child(4n) {
				margin-right: 3px;
				padding: 5px 20px;
				margin-left: 0;
			}
		}
	}
	.buttons {
		a {
			cursor: pointer;
			transition: .5s;
			transition-timing-function: ease-in-out;
			border: 4px solid $teal_light;
			@include nodecored($tex-upper);
			@include text($fontsize_main, $weight_secondary, $line_height_secondary, $letter_spacings_main);
			@include colors($teal_light, $white);
			@include linked($white, $teal_light, 4px);
			@include buttons(4px solid $teal_border, 4px);
			padding: 18px 48px 18px 54px;
			margin-left: 11px;
			margin-top: 1px;
			&:hover, :active, :focus {
				transition-timing-function: ease-in-out;
				transition: .5s;
				color: $teal_light;
				background: $transparent;
			}
		}
		margin: 1.15em 10px 4.4em 0;
	}
}
.contacts {
	form .text_area .buttons{
		a {
			cursor: pointer;
			transition: .5s;
			transition-timing-function: ease-in-out;
			border: 4px solid $teal;
			@include colors($teal, $white);
			@include linked($white, $teal, 4px);
			@include buttons(4px solid $teal_border, 4px);
			padding: 19px 0 19px 0;
			&:hover, :active, :focus {
				transition: .5s;
				transition-timing-function: ease-in-out;
				background: $transparent;
			}
			input {
				cursor: pointer;
				width: 15.8em;
				font-family: 'Titillium Web', sans-serif;
				@include nodecored($tex-upper);
				@include text($fontsize_main, $weight_secondary, $line_height_secondary, .01em);
				@include colors($teal, $white);
				background: $transparent;
				border: none;
				outline: none;
			}
		}
		margin: 4.7em 0 4.4em 0;
	}
}