@media (min-width: 1920px) {
  .container {
    max-width: 1440px;
    width: 100%;
  }
}
@media (max-width: 1919px) {
  .container {
    max-width: 1140px;
    width: 100%;
  }
}
@media (max-width: 1200px) {

}
@media (max-width: 768px) {

}
@media (max-width: 564px) {

}
@media (max-width: 364px) {

}